PORT=3000
SLACK_COMMAND_SUFFIX=-local

# Slack OAuth
SLACK_BOT_TOKEN=xoxb-your-token
SLACK_SIGNING_SECRET=your-signing-secret
SLACK_CLIENT_ID=your-client-id
SLACK_CLIENT_SECRET=your-client-secret
SLACK_STATE_SECRET=your-state-secret

# Notion API
NOTION_API_KEY=secret_your-key
NOTION_CLIENT_ID=your-client-id
NOTION_CLIENT_SECRET=your-client-secret
NOTION_REDIRECT_URI=https://<your_domain>/notion/callback

# App Configuration
APP_URL=https://<your_domain>

# Database
DATABASE_URL="mysql://root:password@localhost:3306/slackadr"

# Recovery
RECOVERY_TOKEN=your-recovery-token
